.btn-primary {
  display: inline-block;
  background-color: #1EDD88;
  padding: 15px 20px;
  border-radius: 50px;
  border: none;
  color: white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary:hover {
  text-decoration: none;
}
